body{
    margin: 0 50px;
    box-sizing: border-box;
}
header{
    color: #ED6454;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 25px 0;
}
header i, header h1{
    font-size: 40px;
    margin: 0;
}

form{
    margin-bottom: 100px;
}
.search-bar-container{
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-between;
}
.search-bar-container #search-bar, .search-bar-container button{
    border: none;
    background-color: #E6E6E6;
    outline: none;
    padding: 0;
    height: 3rem;
}
.search-bar-container #search-bar{
    width: 94%;
    padding-left: 1rem;
}
.search-bar-container button{
    width: 50px;
    font-size: 25px;
}


.tags-selected{
    display: flex;
    margin-top: 20px;
}
.tags-selected div{
    color: white;
    margin-right: 5px;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


/* filter part */
.search-filtres{
    margin-top: 20px;
    display: flex;
    position: absolute;
}

.ingredients-container, .appareils-container, .ustensiles-container{
    padding-right: 15px;
    border-radius: 5px;
    margin-right: 10px;
    height: 60px;
    z-index: 0;
}

.ingredients-container{
    background-color: #3282F7;
}
.appareils-container{
    background-color: #68D9A4;
}
.ustensiles-container{
    background-color: #ED6454;
}

.hidden-condition{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
#ingredients, #appareils, #ustensiles{
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    height: 60px;
    color: white;
    font-size: 15px;
    width: 170px;
}
#ingredients::placeholder, #appareils::placeholder, #ustensiles::placeholder{
    color: white;
    font-weight: 600;
}
.fa-angle-down{
    color: white;
}

#ingredients{
    background-color: #3282F7;
}
#appareils{
    background-color: #68D9A4;
}
#ustensiles{
    background-color: #ED6454;
}

.list-tags{
    display: none;
    flex-wrap: wrap;
    width: 45vw;
    padding-inline-start: 0;
    padding-left: 15px;
}

.tag{
    list-style: none;
    color: white;
    margin: 5px;
    width: calc(33% - 9px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tag:hover{
    font-weight: 600;
    cursor: pointer;
}

/* recipes part*/
.content{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}

.article-recipe{
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 27px);
    height: 500px;
    border-radius: 10px;
}

.factice-img{
    background-color: #C7BEBE;
    min-height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-describe{
    padding: 20px;
}
.article-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}
.article-title h2{
    font-weight: 500;
    font-size: 20px;
}
.article-title i{
    margin-right: 5px;
}
.footer-card{
    display: flex;
}
.footer-card ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}
.footer-card p{
    width: 50%;
    margin: 0;
}
